<%- include('../partials/header') %>
<h1><%= date.toLocaleDateString() %></h1>
<p><%= task.title %></p>
<div id="task-details">
    <h2>Notes</h2>
    <form action="/calendar/year/<%= date.getFullYear() %>/month/<%= date.getMonth() + 1 %>/day/<%= date.getDate() %>/<%= task._id %>/notes" method="POST">
        <textarea name="content" id="notes-field" placeholder="Enter notes here"></textarea>
        <button type="submit">Save</button>
    </form>
</div>
<% task.notes.forEach(note => { %>
    <p><%= note.content %></p>
    <% }); %>
<%- include('../partials/footer') %>
